{% load bootstrap4 %}
{% load static %}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'followtracker/style.css' %}" />
</head>
<body>
    <div class="intro">
        <h1>InstaTracker</h1>
        <h2>Master your social data with our analysis. Free for a limited time.</h2>
    </div>
    <div>
        <div class="circle"></div>
        <div class="parallelogram"></div>
        <div class=success id="success">
            <h1>You're All Set!</h1>
            <h2>You should get an email with your stats. It may take a little while, depending on your account's popularity. Be sure to check your spam!</h2>
        </div>
        <div class=login id="login">
            <form method="post" class="formstyle" id="myForm">
                {% csrf_token %}
                {% bootstrap_form form %}
            </form>
            <button onclick="Switch()">Start Tracking</button>
        </div>
    </div>
</body>

<script>

function Switch() {
    document.getElementById("login").style.visibility = "hidden";
    document.getElementById("success").style.visibility = "visible";
    document.getElementById("myForm").submit();
}

</script>