{% load bootstrap4 %}
{% load static %}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'followtracker/style.css' %}" />
</head>
<body>
    <div class="intro">
        <h1>InstaTracker</h1>
        <h2>Master your social data with our analysis. Free for a limited time.</h2>
    </div>
    <div>
        <div class="success" style="visibility: visible; margin-top: 6.4%">
            <h1>You're All Set!</h1>
            <h2>You should get an email with your stats. It may take a little while, depending on your account's popularity. Be sure to check your spam!</h2>
        </div>
        <div class="circle"></div>
        <div class="parallelogram"></div>
    </div>
</body>