/* Global Styles */
body {
    margin: 0;
    font-size: 21px;
    font-family: 'Trebuchet MS';
    overflow: hidden;
}

.formstyle {
    margin-left: 6%;
    margin-top: 1%;
}

.login {
    text-align: center;
    margin-top: -13.1%;
    margin-left: 67.2%;
    max-width: 800px;
}

.success {
    margin-top: -11%;
    margin-left: 66.9%;
    max-width: 300px;
    position: absolute;
    text-align: center;
    visibility: hidden;
}

.success h1 {
    font-size: 30px;
    color: white;
}

.success h2 {
    font-size: 20px;
    color: white;
}

.intro h1 {
    margin-top: 0%;
    margin-left: 5.5%;
    font-size: 150px;
    color: #3BB9FF;
    font-weight: bold;
}

.intro h2 {
    margin-top: -1%;
    margin-left: 6%;
    font-size: 25px;
    color: black;
}

.intro {
  margin-top: 20%
}

.intro img {
  margin-left: 50%;
  margin-top: -55%;
  width: 800px;
  height: 800px;
  z-index: -1;
  position: relative;
}

.formtext {
    color: blue;
}

button {
  background-color: white;
  border: white;
  border-width: 2px;
  color: #3BB9FF;
  font-weight: bold;
  margin-top: -1%
}