/* Global Styles */
body {
    margin: 0;
    font-size: 21px;
    font-family: 'Trebuchet MS';
    overflow: hidden;
}

img {
  margin-left: 50%;
  margin-top: -55%;
  width: 800px;
  height: 800px;
  z-index: -1;
  position: relative;
  float: left;
}

.button {
  background-color: white;
  border: white;
  border-width: 0px;
  color: #3BB9FF;
  font-weight: bold;
  margin-top: -1%
}

/* INTRO PAGE */

.intro {
  margin-top: 20%;
}

.intro h1 {
    margin-top: 0%;
    margin-left: 5.5%;
    font-size: 150px;
    color: #3BB9FF;
    font-weight: bold;
}

.intro h2 {
    margin-top: -1%;
    margin-left: 6%;
    font-size: 25px;
    color: black;
}

.formstyle {
    margin-left: 6%;
    margin-top: 1%;
}

.login {
    text-align: center;
    margin-top: -13.1%;
    margin-left: 67.2%;
    max-width: 800px;
}

.formtext {
    color: blue;
}

/* SUCCESS PAGE */

.success {
    margin-left: 10%;
    max-width: 800px;
    margin-top: 8%;
}

.success h1 {
    font-size: 65px;
    font-weight: bold;
    color: black;
}

.success h2 {
    margin-top: -10%
    font-size: 30px;
    color: #3BB9FF;
    font-weight: bold;
}

.success h3 {
    font-size: 16px;
    color: black;
}

.success ul {
    font-size: 16px;
    color: black;
}

/* SIGNUP PAGE */

.signup {
    width: 500px;
    margin: 50px auto 0px;
    text-align: center;
    margin-top: 10%;
}